{
  "development": {
    "username": "postgres",
    "password": "12345",
    "database": "TestHelloBuild",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "testing": {
    "username": "postgres",
    "password": "12345",
    "database": "TestHelloBuild",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "postgres",
    "password": "12345",
    "database": "TestHelloBuild",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}